# SportMonks API Configuration
# Obtén tu token en: https://docs.sportmonks.com/
SPORTMONKS_TOKEN=YOUR_TOKEN

# Django Settings
DEBUG=False
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=127.0.0.1,localhost

# API Configuration
API_BASE_URL=http://api:3000
